In [1]:
import pandas as pd

In [4]:
file_path = '/Users/admin/Downloads/preprocessed_df.csv'
df = pd.read_csv(file_path)

In [5]:
df

        Unnamed: 0  label                                               text
0                0      4  dr goldberg offers everything i look for in a ...
1                1      1  unfortunately the frustration of being dr gold...
2                2      3  been going to dr goldberg for over 10 years i ...
3                3      3  got a letter in the mail last week that said d...
4                4      0  i dont know what dr goldberg was like before  ...
...            ...    ...                                                ...
699995       49995      0  just wanted to write a review to chip in with ...
699996       49996      4  great ambience great drinks great food i love ...
699997       49997      3  i have been to the other monks locations so i ...
699998       49998      1  dont go here  i know you might want to try it ...
699999       49999      0  buffet was recently open after renovation so m...

[700000 rows x 3 columns]